body{
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
    color: #C52c0a;
}

header{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #C52c0a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header .user{
    position: absolute;
    top: 0px;
    right: 20px;
    line-height: 40px; /*Ширина строки*/
    color: #C52c0a;
    font-weight: 700;
}

header .logo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    color:#C52c0a;
    text-decoration: none;
}
.container{
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    margin: 0 auto;
    display: flex;
}

.sidebar{
    width: 20%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar a{
    color: #444;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}

.sidebar a:hover{
    color: #C52c0a;
    text-decoration: underline;
}

.content{
    padding: 15px;
    border-left: 1px solid #C52c0a;
    min-height: calc(100vh - 120px);
    gap: 20px;
}
.postcard{
    display: flex;
    padding: 10px;
    border: 1px solid #C52c0a;
    border-radius: 1px;
    margin-bottom: 20px;
    aspect-ratio: 2/1; /*соотношение сторон*/
    position: relative;
}

.postcard-image{
    width: 50%;
    object-fit: cover; /*изображение покрывает всю область*/
}

.postcard-desc{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.postcard-desc p{
    flex-grow: 1;
}

.pubdate{
    align-self: flex-end;
}
.author{
    align-self: flex-end;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    color: #444;
    margin-bottom: 20px;
}

.pagination a{
    color: #C52c0a;
    text-decoration: none;
}

.add-btn{
    position: fixed;
    bottom: 150px;
    right: 100px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #C52c0a;
    color: white;
    font-size: 180px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btn:hover{
    background-color: #444;
}

.usercard{
    border: 1px solid #C52c0a;
    padding: 10px;
    display: flex;
    width: 100%;
}

.usercard_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    align-items: flex-end;
    width: 100%;
}

.btn {
    padding: 7px 28px;
    border-radius: 3px;
    background-color: #c52c0a;
    color: #fff;
    text-decoration: none; /*убираем подчёркивание ссылки*/
    border: none;
}

.btn:hover {
    background-color: #fff;
    color: #c52c0a;
}

.bage{
    font-size: 9px;
    width: 10ps;
    height: 10px;
    background-color: #C52c0a;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postcard-comment{
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    margin-top: 10px;
    border-radius: 6px;
    overflow-y: auto;
    flex-grow: 1; /*блок занимает всё доступное пространство*/    
}

.postcard-comment form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
}

.postcard-comment textarea{
    flex-grow: 1;
    height: 70px;
}

.postcard-comment .btn{
    padding: 10px 15px;
}

.comment{
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    border-radius: 1px;
    margin-top: 10px;
    position: relative;
}

.postcard h2, .postcard h3, .postcard h4{
    margin-top: 0;
}

.remove-link{
    position: absolute;
    top: 5px;
    right: 5px;
}

.like{
    position: absolute;
    bottom: 20px;
    left: calc(25% - 30px);
    font-size:20px;
    font-weight: 900;
    color:white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 5px 15px;
    text-decoration: none;
    transition: 0.5s;
}

.like:hover{
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.3);
}